$color-dark: #4A4A4A;
$color-theme: #F5A623;
$color-secondary: #49B4AA;
$color-background:rgba(226,219,219,.35);
$color-text:#565555;
$color-meta: #9097a0;
$color-link: #2D89CC;
$color-link-hover: #1A93FF;
$color-drinks: pink;
$color-amuse: green;
$color-main: red;
$color-dessert: lightblue;
$color-breakfast: goldenrod;