$color-dark: #4A4A4A;
$color-theme: #F5A623;
//$color-background: #f1ecec;
$color-background:rgba(226,219,219,.35);
$color-text:#565555;
$color-meta: #a7a4a4;
$color-drinks: pink;
$color-amuse: green;
$color-main: red;
$color-dessert: lightblue;
$color-breakfast: goldenrod;